// Main Colors
$white: #fefefe;
$black: #323232;

// Base layout
$body-background: $white;

// Navigation
$nav-background: $black;
$nav-text: $white;
$nav-active-link: $white;

// Clock
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
